# Environment
DEV_MODE=True  # Enable dev mode for testing

# PostgreSQL Configuration - Test
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=test_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433  # Different port!

# Redis Configuration - Test
REDIS_HOST=localhost
REDIS_PORT=6380  # Different port!
# REDIS_PASSWORD=

# Security
SECRET_KEY=THISISSECRETKEYforYourFastAPIApp
ADMIN_USER=admin
ADMIN_PASS=admin


# OpenAI Config
OPENAI_BASE_URL=
OPENAI_API_KEY=
LLM_MODEL_NAME=deepseek-v4-flash
