# Environment
DEV_MODE=False

# PostgreSQL Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis Configuration - Test
REDIS_HOST=redis
REDIS_PORT=6379  # Different port!
REDIS_PASSWORD=

# Rate Limiting
BRUTE_FORCE_WINDOW_SECONDS=60
RATE_LIMIT_GLOBAL_MAX=1000
MAX_FAILED_ATTEMPTS=20
REDIS_MAX_CONNECTIONS=5
REDIS_SOCKET_TIMEOUT=5
REDIS_SOCKET_CONNECT_TIMEOUT=5

# Security
SECRET_KEY=THISISSECRETKEYforYourFastAPIApp
ADMIN_USER=admin
ADMIN_PASS=admin

# OpenAI Config
OPENAI_BASE_URL=
OPENAI_API_KEY=
LLM_MODEL_NAME=deepseek-v4-flash
